.addtocartdiv{
    height: 200px;
    padding: 20px;
    width:50%;
    /* background-color: burlywood; */
    display: flex;
    justify-content: space-between;
    margin: 3px;
    border-radius: 25px;

    background: hsla(186, 33%, 94%, 1);

    background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ebf4f5", endColorstr="#b5c6e0", GradientType=1 );
}

.addtocartdiv2{
    text-align: center;
    /* display: flex; */
    align-self: center;
}

.addtocartdiv3{
    align-self: center;
}

.addtocartdiv:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.addtocmaindiv{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btnremove {
    background-color: #42574f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    height: 150px;
  }

  .imgaddtocart img{
    height: 100%;
    width: 100%;
    border-radius: 25px;
  }