.boxContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.link{
    text-decoration: none;
    color: black;
}

.maindivlink{
    margin: 10px;
}

.box{
    /* height: 250px; */
    width: 230px;
    /* background-color: aqua; */
    
    border-radius: 20px;
    background: hsla(186, 33%, 94%, 1);

    background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ebf4f5", endColorstr="#b5c6e0", GradientType=1 );
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.box:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box img{
    height: 200px;
    width: 230px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.headdingp{
    margin: 20px;
}