.experienceContainer{
    display: flex;
    flex-direction: column;
    margin: 100px;
    border-radius: 5px;
    /* background-color: rgb(193, 225, 226);  */
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.experience_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    /* height: 50px; */
    margin: 10px;
    width: 90%
    /* align-items: center; */
}

.insideEdu{
    display: flex;
    justify-content: space-between;
}

.experiences{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgdiv{
    width: 10%;
    padding: 20px;
}

@media screen and (max-width:1296px){
    .experiences {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    .imgdiv {
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
    }
   
    .experienceContainer {
        display: flex;
        flex-direction: column;
        margin: 2%;
        border-radius: 5px;
        background-color: rgb(193, 225, 226);
    }
}