nav{
    background-color: rgb(193, 225, 226);
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    position: sticky;
    top: 0px;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 5px 10px;
}

a{
    text-decoration: none;
    color: black;
}

@media screen and (max-width:1296px){
    nav ul {
        display: flex;
        list-style: none;
        display: none;
    }
}