.boxContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box{
    height: 250px;
    width: 230px;
    background-color: aqua;
    margin: 10px;
}

.box img{
    height: 200px;
    width: 230px;
}

