.MainContainer{
    display: flex;
    margin: 100px;
    justify-content: space-between;
    
}

.maintext{
 width: 50%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.mainimg{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:1296px) {

    .MainContainer {
        display: flex;
        margin: 100px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    
    .maintext {
        width: auto;
        display: flex
    ;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
    }
}