.AboutContainer{
    display: flex;
    flex-direction: column;
    margin: 100px;
    border-radius: 5px;
    background-color: rgb(193, 225, 226);
}

.about_box{
    display: flex;
    justify-content: space-between;
    background-color:white;
    border-radius: 5px;
    height: auto;
    margin: 10px;
    align-items: center;
    text-align: center;
}

@media screen and (max-width:1296px) {

    .AboutContainer {
        display: flex;
        flex-direction: column;
        margin: 2%;
        border-radius: 5px;
        background-color: rgb(193, 225, 226);
    }
    
}