.Navb ul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
    
    /* margin: 10px; */
    
}

.Navb{
    display: flex;
    width: 100%;
    justify-content: space-around;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(180, 182, 222, 1) 76%, rgba(148, 187, 233, 1) 100%);
}

.navsearch{
    /* display: flex; */
    justify-content: center;
    /* text-align: center; */
    align-content: center;
}

.Navb ul li {
    margin: 30px;
}

/* .result-box{
    position: absolute;
    top:149px;
    background-color: #999;
}*/

.searchBox ul {
    border-top: 1px solid #999;
    /* padding: 15px 10px; */
}

.searchBox ul li {
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}

.link {
    text-decoration: none;
    list-style-type: none;
}

.searchBox ul li:hover {
    background: #e9f3ff;
}

.searchdul {
    display: flex;
    flex-direction: column;
}

.searchBox {
    height: 400px;
    width: 200px;
    background-color: rgb(193, 193, 193);
    position: absolute;
    /* left:48%; */
    /* left:700px; */
    /* top: 150px; */
    display: none;
    overflow: scroll;
}

input[type=search] {
    /* float: right; */
    height: 50%;
    padding: 6px;
    border: none;
    /* margin-top: 8px; */
    /* margin-right: 16px; */
    font-size: 17px;
  }
/* .searchBox:focus{
    display:  block;
} */