.Navb ul{
    text-decoration: none;
    list-style-type:none;
    display: flex;
    justify-content: center;
}

.Navb ul li{
    margin: 5px;
}

/* .result-box{
    position: absolute;
    top:149px;
    background-color: #999;
}*/

.searchBox ul{
    border-top: 1px solid #999;
    padding: 15px 10px;
}

.searchBox ul li{
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}

.link{
    text-decoration: none;
    list-style-type:none;
}

.searchBox ul li:hover{
    background: #e9f3ff;
}
.searchdul{
    display: flex;
    flex-direction: column;
} 

.searchBox{
    height: 400px;
    width: 168px;
    background-color: rgb(193, 193, 193);
    position: absolute;
    /* left:48%; */
    /* left:700px; */
    top:150px;
    display: none;
    overflow: scroll;
}


/* .searchBox:focus{
    display:  block;
} */
