.EducationContainer{
    display: flex;
    flex-direction: column;
    margin: 100px;
    border-radius: 5px;
    background-color: rgb(193, 225, 226);
}
.inndiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.edimage{
    width:10%;
    padding: 20px;
}
.educations{
    width:90%;
}

.education_box{
    display: flex;
    justify-content: space-between;
    background-color: white;
    /* border: 1px solid green; */
    height: 50px;
    margin: 10px;
    align-items: center;
    border-radius: 5px;
}

@media screen and (max-width:1296px){

    .inndiv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .edimage {
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
    }

    .EducationContainer {
        display: flex;
        flex-direction: column;
        margin: 2%;
        border-radius: 5px;
        background-color: rgb(193, 225, 226);
    }
} 