.EducationContainer{
    display: flex;
    flex-direction: column;
    margin: 100px;
    border-radius: 5px;
    background-color: rgb(193, 225, 226);
}

.education_box{
    display: flex;
    justify-content: space-between;
    background-color: white;
    /* border: 1px solid green; */
    height: 50px;
    margin: 10px;
    align-items: center;
    border-radius: 5px;
}