.main {
    height: 100vh;
    width: 100%;
    background-color: rgb(56, 125, 189);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#logbox {
    /* height: 550px; */
    width: 600px;
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    /* border-radius: 10px;  */
}

h3 {
    align-self: center;

    color: rgb(52, 132, 179);
}

.form {
    width: 90%;
    justify-self: center;

}

#submit {
    height: 40px;
    width: 100%;
    background-color: rgb(52, 132, 179);
    color: aliceblue;
    border: 0px;

}
#submit2 {
    height: 40px;
    width: 100%;
    background-color: rgb(151, 148, 148);
    color: aliceblue;
    border: 0px;

}

input[type=text],
input[type=email],
input[type=number],
input[type=password] {
    width: 100%;
    height: 40px;
    /* padding: 12px 20px; */
    /* margin: 8px; */
    /* display: inline-block;
border: 1px solid #ccc; */
    box-sizing: border-box;
}

/* input[type=radio],label{
    margin-right:20px;

} */

.inmain {
    display: flex;
    margin-top: 15px;
}

.sep {
    width: 10%;
}

/* .genmain {
    display: flex;
    margin-top: 15px;
} */

input {
    margin-left: 0px;
}

.div {
    /* margin: 5px; */
    width: 48%;
}

form{
    width: 90%;
}

.miniText{
    color: red;
}

@media screen and (max-width:500px) {
    .inmain {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }

    /* .genmain {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
} */
    /* #logbox {

    display: flex;
    flex-direction: column;
    margin-top: 15px;
} */

}